  <!-- Split button -->
  <div class="btn-group">
    <button type="button" class="btn btn-info">{% block button_text %}Action{% endblock %}</button>
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {% block actions %}
      <li><a id="id_edit_{{model.id}}" href="#">Edit</a></li>
      <li><a href="#">View on site</a></li>
      <li><a href="#">Delete</a></li>
      {% endblock %}
    </ul>
  </div>
